
body{
    background-color: lightgoldenrodyellow;

}

h1{
    color: pink;
    text-align: center;
}

h2{
    color: lightblue;
    text-align: center;
}

h3{
    color: darkseagreen;
    text-align: center;
}

h4{
    color: lightblue;
    size: 70px;
    text-align: center;
}

